---
clickhouse_version: "22.3.3.44"
clickhouse_packages:
  - clickhouse-client
  - clickhouse-server
  - clickhouse-common-static
vector_version: "0.51.1"
clickhouse_ip: "{{ hostvars['clickhouse']['ansible_host'] }}"
